@charset "UTF-8";

/* Table Of Content
-----------------------------------------------------
01. Blog Element
02. Counter Element
03. Portfolio Element
04. Testimonial Element
05. Services Element
-----------------------------------------------------
*/

/*-----------------------
    01. Blog Element
------------------------*/
.post-grid-style1 .post-grid-item {
    margin-bottom: 25px;
    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}
.post-grid-style1 .post-grid-item a {
    text-decoration: none;
}
.post-grid-style1 .post-grid-img {
    position: relative;
}
.post-grid-style1 .post-grid-img .post-date {
    position: absolute;
    top: 15px;
    background: rgba(255, 255, 255, 0.7);
    padding: 8px 18px;
    right: 15px;
    font-size: 16px;
    line-height: 25px;
    width: 60px;
    color: #444;
    text-align: center;
}
.post-grid-style1 .post-grid-meta {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 15px;
    margin-top: 0;
}
.post-grid-style1 .post-grid-meta li {
    display: inline-block;
    font-size: 12px;
    margin-right: 8px;
}
.post-grid-style1 .post-grid-meta li a {
    color: #999;
}
.post-grid-style1 .post-grid-content {
    background: #fff;
    padding: 25px;
}
.post-grid-style1 .post-grid-title {
    margin-top: 0;
    font-size: 22px;
    margin-bottom: 3px;
}
.post-grid-style1 .post-grid-title a {
    color: #444;
}
.post-grid-style1 .post-grid-title a:hover {
    color: #222;
}
.post-grid-style1 .post-grid-desc {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.post-grid-style1 .post-grid-desc p {
    font-size: 14px;
    text-align: justify;
}
.post-grid-style1 .post-grid-footer a {
    display: inline-block;
    padding: 2px 14px;
    font-size: 11px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #999;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    background: #fff;
}
.post-grid-style1 .post-grid-footer a:hover {
    border-color: #444;
    background-color: #444;
    color: #bbb;
}

/*------------------------------
    02. Counter Element  
--------------------------------*/
.counter-style1 .counter {
    font-size: 62px;
    line-height: 66px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}
.counter-style1 .counter:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 1px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
}
.counter-style1 .counter-title {
    font-size: 19px;
    line-height: normal;
    margin: 0;
}
.counter-style1 .counter-item i {
    font-size: 42px;
    color: #777;
    line-height: 1.4;
}

/*-----------------------------
    03. Portfolio Element  
-------------------------------*/
div[class*="filter-"] ul li {
    display: inline-block;
}
.filter-style1 {
    text-align: center;
    overflow: hidden;
}
.filter-style1 ul {
    position: relative;
    padding: 0 40px;
    display: inline-block;
}
.filter-style1 ul:before,
.filter-style1 ul:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 80px;
    top: 50%;
    margin-top: -1px;
    background-color: #000;
}
.filter-style1 ul:before {
    left: -80px;
}
.filter-style1 ul:after {
    right: -80px;
}
.filter-style1 ul li a {
    display: inline-block;
    color: #000;
    padding: 4px 14px;
    border: 1px solid transparent;
    text-decoration: none !important;
}
.filter-style1 ul li.uk-active a,
.filter-style1 ul li a:hover {
    border: 1px solid #000;
}
.filter-style2 ul {
    padding-left: 0;
}
.filter-style2 ul li a {
    display: inline-block;
    color: #999;
    padding: 4px 14px;
    margin-right: 3px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-decoration: none !important;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}
.filter-style2 ul li a:hover,
.filter-style2 ul li.uk-active a {
    background-color: #333;
    border-color: #333;
    color: #bbb;
}
.portfolio-style1 .p-desc-holder {
    padding: 25px;
    background: #fff;
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.portfolio-style1 .p-item:hover .p-desc-holder {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.portfolio-style1 .p-desc-holder .p-title {
    margin-bottom: 0;
    font-size: 15px;
}
.portfolio-style1 .p-desc-holder .p-category {
    font-size: 12px;
}
.portfolio-style1 .p-desc-holder .p-title a {
    color: #444;
    text-decoration: none;
}
.portfolio-style1 .p-middle {
    position: absolute;
    top: -20px;
    right: 20px;
}
.portfolio-style1 .p-middle .p-zoom {
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    color: #444;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.portfolio-style1 .p-middle .p-zoom:hover {
    background: #f5f5f5;
}
.portfolio-style1 .p-bottom {
    position: absolute;
    top: -30px;
    opacity: 0;
    background: #fff;
    padding: 3px 9px;
    border-radius: 12px;
    font-size: 11px;
    color: #777;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.portfolio-style1 .p-item:hover .p-bottom {
    top: -44px;
    opacity: 1
}

/*------------------------------
    04. Testimonial Element
--------------------------------*/
.testimonial-style1 {
    padding: 35px;
    background: #fff;
    position: relative;
    margin-top: 40px;
    border: 1px solid #f5f5f5;
}
.testimonial-style1 .testi-desc {
    padding-top: 35px;
}
.testimonial-style1 .testi-desc p {
    margin-bottom: 20px;
    color: #999;
}
.testimonial-style1 .testi-photo {
    display: inline-block;
    position: absolute;
    top: -40px;
    border-radius: 50%;
}
.testimonial-style1 .testi-photo img {
    width: 80px;
    height: 80px;
    border: 8px solid #fff;
    background: #f9f9f9;
    padding: 5px;
}
.testimonial-style1 .testi-info {
    text-align: right;
}
.testimonial-style1 .position {
    font-size: 12px;
    color: #888;
}
.testimonial-style1 .position a {
    color: #888;
}

/*-----------------------------
    05. Services Element
-------------------------------*/
.services-style1 .services-item {
    padding: 30px 25px 25px;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.03);
}
.services-style1 .services-icon {
    font-size: 32px;
    display: inline-block;
    /*background-color: #444;*/
    color: #bbb;
/*    height: 82px;
    width: 82px;*/
    height: 150px;
    width: 150px;
    text-align: center;
    line-height: 82px;
  /*  border-radius: 50%;*/
    margin-bottom: 15px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.services-style1 .services-item:hover .services-icon {
    /*background-color: #222;*/
    color: #fff;
}
.services-style1 .services-title {
    display: block;
    font-size: 17px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.services-style1 .services-desc .services-title {
    margin-bottom: 15px;
     line-height: 1.6;
}
.services-style1 .services-desc p {
    font-size: 12px;
    line-height: 1.6;
    color: #888;
    margin: 0;
}
.services-style1 .services-desc a {
    color: #888;
    font-size: 12px;
    position: relative;
    display: inline-block;
    text-decoration: none !important;
    margin-top: 15px;
}
.services-style1 .services-desc a:hover {
    color: #222;
}